NET "rgb[0]"			LOC = T20      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[1]"			LOC = R20      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[2]"			LOC = T22      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[3]"			LOC = T23      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[4]"			LOC = R22      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[5]"			LOC = R23      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[6]"			LOC = T24      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[7]"			LOC = T25      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[8]"			LOC = N21      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[9]"			LOC = N22      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[10]"			LOC = R21      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "rgb[11]"			LOC = P21      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "PS2C" 	LOC = N18 | IOSTANDARD = LVCMOS33 | PULLUP;
NET "PS2D" 	LOC = M19 | IOSTANDARD = LVCMOS33 | PULLUP;

NET "SEGLED_CLK"                               LOC = M24       | IOSTANDARD = LVCMOS33 ;
NET "SEGLED_CLR"                               LOC = M20       | IOSTANDARD = LVCMOS33 ;
NET "SEGLED_DO"                                LOC = L24       | IOSTANDARD = LVCMOS33 ;      
NET "SEGLED_PEN"                               LOC = R18       | IOSTANDARD = LVCMOS33 ;      

#NET "seg[0]"  LOC = AB22 | IOSTANDARD = LVCMOS33;
#NET "seg[1]" LOC = AD24 | IOSTANDARD = LVCMOS33;
#NET "seg[2]" LOC = AD23 | IOSTANDARD = LVCMOS33;
#NET "seg[3]" LOC = Y21 | IOSTANDARD = LVCMOS33;
#NET "seg[4]" LOC = W20 | IOSTANDARD = LVCMOS33;
#NET "seg[5]" LOC = AC24 | IOSTANDARD = LVCMOS33;
#NET "seg[6]" LOC = AC23 | IOSTANDARD = LVCMOS33;
#NET "seg[7]" LOC = AA22 | IOSTANDARD = LVCMOS33;
#NET "an[0]" 	LOC = AD21 | IOSTANDARD = LVCMOS33;
#NET "an[1]" 	LOC = AC21 | IOSTANDARD = LVCMOS33;
#NET "an[2]" 	LOC = AB21 | IOSTANDARD = LVCMOS33;
#NET "an[3]" 	LOC = AC22 | IOSTANDARD = LVCMOS33;
NET "sys_clk"  LOC = AC18  | IOSTANDARD = LVCMOS18;
NET "sw" LOC = AA10 | IOSTANDARD = LVCMOS15;
NET "hsync"   LOC = M22      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;  
NET "vsync"   LOC = M21      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;